nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
body {
  font-family: "Kablammo", cursive;
  font-family: "Open Sans", sans-serif;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  line-height: normal;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0px;
  color: var(--white-color, #fff);
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  padding: 18px 35px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 51px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.headerclass {
  background-color: #fff8f3;
  background-image: url("images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 45px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .banner-image {
  width: 584px;
  height: 676px;
  flex-shrink: 0;
}
 .banner-content{
    max-width:585px;
}
.banner-greeting {
  color: var(--dark-02, #474747);
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner-title {
  color: var(--dark-01, #181818);
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
    margin-top: 0px;
  color: var(--dark-03, #757575);
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
/* .....Main section styles ....*/
/* about section styles */
.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px;
}
.section-title{
    color: var(--dark-01, #181818);
text-align: center;
font-size: 35px;
font-weight: 700;
}
.section-description{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
}
main{
  max-width: 1140;
  /* justify-content: center; */
  margin: 0px auto;
}
main section{
  margin-top:130px;;
}
.about-info-container{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
/* what I do section  */
.skills-container{
  display: flex;
  margin-left: 150px;
  gap: 24px;
  align-items: center;
}
.skills{
  width: 267px;
  height: 277px;
  border-radius: 5px;
  background-color: white;
  justify-content: space-around;
  text-align: justify;
  padding: 33px;
  margin: 20px;
  box-shadow: 2px 2px 15px lightgrey;
}
.skill-description{
  /* padding: 30px; */
  color: #757575;
  font-size: 18px;
}
#what-i-do-description{ 
  margin: 50px 150px;
}
.resume-column-title{
  color: var(--dark-02, #474747);
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resume-container{
  display: flex;
  gap: 50px;
}
.resume-item-institute{
  margin-bottom: 20px;
  margin-top: 0px;
}
.resume-item-description,.resume-item-institute{
  color: #757575;
}
.resume-item-title{
  color: var(--dark-02, #474747);
font-size: 25px;
font-weight: 700;
margin-bottom: 10px;
}
.resume-container hr{
  margin: 30px 30px;
}
.download-cv{
  text-align: center;
  margin-top: 50px;
}

